/*
    CSS reset & Restrizioni
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 512px;
    margin: 0 auto;
}

/*
    Main
*/

.container-section {
    background-color: var(--color-primary)
}

/*
   Root & Utilities
*/

:root {
    --color-primary: #191c7b;
    --color-secondary: #5d64d1;
    --btn-bg-color-Open-discord: #5865f2;
    --btn-bg-color-Download: #fff;
}

.font-title {
    font-family: "Sigmar", serif;
    font-weight: 400;
}

.txt-white {
    color: white;
}

.font-secondary {
    font-family: "DM Sans" serif;
}

/*
    Banner Header
*/

.img-header {
    width: 100%;
    object-fit: cover;
}


/*
    Section 1
*/

.section-1 {
    padding: 80px;
    text-align: center;
    font-size: large;
}

.section-1 h2 {
    font-size: xx-large;
}

.section-1 p {
    margin-bottom: 10px;
}

.btn-download,
.btn-open {
    font-size: large;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 15px;
    background-color: var(--btn-bg-color-Download);
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-open {
    background-color: var(--btn-bg-color-Open-discord);
    padding: 10px 15px;
    color: white;
}

.btn-download:hover,
.btn-open:hover {
    transform: scale(1.1);
}

/*
    Sezione 2
*/

.section-2 {
    margin: 20px;
    background-color: var(--color-secondary);
    position: relative;
    border-radius: 20px;
    padding: 40px;
    text-align: left;
    font-size: large;

}

.section-2 h2 {
    font-size: 40px;
    line-height: 0.8;
}

.section-2 p {
    margin: 20px;
}

.small-logo {
    position: absolute;
    top: -50px;
    left: 40px;
}

.discord-cube {
    height: 100px;
}

.img-section {
    width: 400px;
    border-radius: 20px;
}

/*
    Sezione 3
*/