/*
    CSS reset & Restrizioni
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 512px;
    margin: 0 auto;
}



/*
   Root & Utilities
*/

:root {
    --color-primary: #191c7b;
    --color-secondary: #5d64d1;
    --btn-bg-color-Open-discord: #5865f2;
    --btn-bg-color-Download: #fff;
}

.font-title {
    font-family: "Sigmar", serif;
    font-weight: 400;
}

.txt-white {
    color: white;
}

.font-secondary {
    font-family: "DM Sans", serif;
    font-weight: 300;
}

/*
    Banner Header
*/


.img-header {
    display: block;
    width: 100%;
    height: auto;
}

/*
    Main
*/

.container-section {
    background-color: var(--color-primary);
    padding: 20px;
}

/*
    Section 1
*/

.section-1 {
    padding: 50px;
    text-align: center;
    font-size: large;
}

.section-1 h2 {
    font-size: 40px;
    line-height: 0.9;
}

.section-1 p {
    margin: 20px 0;
}

.btn-download,
.btn-open {
    font-size: large;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 15px;
    background-color: var(--btn-bg-color-Download);
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-open {
    background-color: var(--btn-bg-color-Open-discord);
    padding: 10px 15px;
    color: white;
}

.btn-download:hover,
.btn-open:hover {
    transform: scale(1.1);
}

/*
    Sezione 2
*/

.section-2,
.section-3 {
    min-height: 300px;
    margin: 40px 0;
    background-image: url(../imgs/background.png);
    position: relative;
    border-radius: 20px;
    padding: 40px;
    text-align: left;
    font-size: large;
    background-size: cover;
}

.section-2 h2,
.section-3 h2 {
    font-size: 40px;
    line-height: 0.8;
}

.section-2 p,
.section-3 p {
    margin: 30px 0;
}

.small-logo {
    position: absolute;
    top: -50px;
    left: 40px;
}

.small-logo-2 {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
}


.discord-cube,
.eyes-discord {
    height: 100px;
}

.video-demo,
.video-streamer {
    width: 400px;
    border-radius: 20px;
}